# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
env/
.venv/
.flaskenv
venv

# Environment variables
.env

# IDE/editor stuff
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db